.post {
  animation-duration: 2s;
  animation-name: slidein;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}

@keyframes slidein {
  from {
    margin-left: 100%;
  }

  to {
    margin-left: 0%;
  }
}
