article.post
{
	clear: both;
	display: inline-block;
	background: #e8eaff;
	margin: 30px 0;
	width: 100%;
}
.post h3
{
	margin: 8px 0;
}
.post a
{
	text-decoration: underline;
	color: #0b131f;
}
.post:before
{
	white-space: pre;
	position: unset;
}
.post:first-line
{
	font-size: larger;
	font-weight: bold;
}

@media only screen and (min-width: 767px)
{
	.post h3, .thumbContainer { padding: 0 2%; }
	.thumbContainer
	{
		float:left;
		width: 40%;
	}	


	.entry p
	{
		width: 56%; /* 100% - (thumbnail 40% + 2% padding on each side) */
		float: right;
		margin: 0;
	}
}

.thumb
{
	width: 100%;
}
.image.thumb
{
	height: 100%; /* fix webkit rendering, keep ratio */
}

.read-more.none
{
	display: none;
}

.dateline
{
	padding-left: 4%;
	/* float: right; /* uncomment this line to place dateline at right side of post */
}

.pagebutton
{
	/* background: linear-gradient(#00f,#fff); */
	/* border: solid 1px #3333ee; */
	border-radius: 2px;
	margin: 0 1%;
	padding: 1%;
	color: #fff;
	font-size: larger;

	background: #ccc;
}

a.pagebutton
{
	background: #0b131f;
}

.outerSeparator { padding: 2%; } /* Temporary @todo change */

.content-wrapper
{
	padding: 2%;
	box-sizing: border-box;
}
.postinner { padding-top: 18px; }
.postinner p
{
	margin: 0;
	text-align: justify;
}
.postinner > div, .thumbContainer > div
{
	position: relative;
  	width: 100%;
  	height: 0;
  	padding-bottom: 56.25%;	/* 16:9 ratio */
}
.postinner > div > iframe, .thumbContainer > div > iframe
{
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
}

.withvideo { display: flex; }
.playbutton
{
	width: 100%;
	height: 100%;
	position: absolute;
	margin: auto;
}
.playbutton, .playbutton *
{
	border: 0 solid transparent;
}
a[id^='skipser']
{
	position: relative;
	width: 100%;
}
