article.post
{
	clear: both;
	display: inline-block;
}

.thumbContainer
{
	float:left;
	padding: 0 2%;
	width: 40%;
}	
	.thumb
	{
		width: 100%;
	}

.entry p
{
	width: 56%; /* 100% - (thumbnail 40% + 2% padding on each side) */
	float: right;
}

.read-more.none
{
	display: none;
}

.dateline
{
	padding-left: 4%;
	/* float: right; /* uncomment this line to place dateline at right side of post */
}
