article.post
{
	clear: both;
	display: inline-block;
}
.post.h3
{
	margin: 8px 0;
}

@media only screen and (min-width: 767px)
{
	.thumbContainer
	{
		float:left;
		padding: 0 2%;
		width: 40%;
	}	


	.entry p
	{
		width: 56%; /* 100% - (thumbnail 40% + 2% padding on each side) */
		float: right;
		margin: 0;
	}
}

.thumb
{
	width: 100%;
}

.read-more.none
{
	display: none;
}

.dateline
{
	padding-left: 4%;
	/* float: right; /* uncomment this line to place dateline at right side of post */
}

.pagebutton
{
	/* background: linear-gradient(#00f,#fff); */
	/* border: solid 1px #3333ee; */
	border-radius: 2px;
	margin: 0 1%;
	padding: 1%;
	color: #fff;
	font-size: larger;

	background: #ccc;
}

a.pagebutton
{
	background: #2e7bcf;
}

.outerSeparator { padding: 2%; } /* Temporary @todo change */
