{% include head.html %}
	<style>.post:before { content: "{{ page.title }} \A {{ page.date | date: "%b %-d, %Y" }}"; }</style>
</head>
<body>
<article class="content-wrapper post">
	{% if page.youtube or page.img %}
		<div class="postinner">
			<div>
			{% if page.youtube %}
				<iframe class="youtube thumb" src="{{ page.youtube }}" frameborder="0" allowfullscreen></iframe>
			{% endif %}
			{% if page.img %}
				<img class="image thumb" src="{{ page.img }}" alt="{{ post.title }}">
			{% endif %}
			</div>
		</div>
	{% endif %}
	<div class="postinner clearfix">
		<section>
			{{ content }}
			<p><a href="/">Go back</a></p>
		</section>
	</div>
</article>
<body>
</html>
