{% include head.html %}
	<style>.post:before { content: "{{ page.title }} \A {{ page.date | date: "%b %-d, %Y" }}"; }</style>
</head>
<body>
<article class="content-wrapper post">
	{% if post.youtube or post.img %}
		<div class="postinner">
			{% if post.youtube %}
				<iframe class="youtube thumb" src="{{ post.youtube }}" frameborder="0" allowfullscreen></iframe>
			{% endif %}
			{% if post.img %}
				<img class="image thumb" src="{{ post.img }}" alt="{{ post.title }}">
			{% endif %}
		</div>
	{% endif %}
	<div class="postinner clearfix">
		<section>
			{{ content }}
		</section>
	</div>
</article>
<body>
</html>
